<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i> <span class="light"> 我</span> 们
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">关于我们</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">介绍</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">联系方式</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">幸福的一大家子</h1>

                    <p class="intro-text">精彩的我们
                    </p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center" style="padding-top: 150px">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="about-us">
                <div>
                    <img style="width:750px;height: 500px; border: 10px solid;" src="../../assets/g.jpg">
                </div>
                <div>
                    <img style="width:750px;height: 500px; border: 10px solid;" src="../../assets/a.jpg">
                </div>
                <div>
                    <img style="width:750px;height: 500px; border: 10px solid;" src="../../assets/b.jpg">
                </div>
                <div>
                    <img style="width:750px;height: 500px; border: 10px solid;" src="../../assets/e.jpg">
                </div>
                <div>
                    <img style="width:750px;height: 500px; border: 10px solid;" src="../../assets/h.jpg">
                </div>
                <div>
                    <img style="width:750px;height: 500px; border: 10px solid;" src="../../assets/f.jpg">
                </div>
                <div>
                    <img style="width:750px;height: 500px; border: 10px solid;" src="../../assets/i.jpg">
                </div>
                <div>
                    <img style="width:750px;height: 500px; border: 10px solid;" src="../../assets/c.jpg">
                </div>
                <div>
                    <img style="width:750px;height: 500px; border: 10px solid;" src="../../assets/d.jpg">
                </div>
            </div>

        </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>团队介绍</h2>

                <p>几个不同领域的陌生人组成了一个团队，因为共同的兴趣走到一起，共同做出了这个产品。<我们>     </我们>.</p>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">View On Github
                    </a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>更多详情</h2>

            <p>请跟我们联系，我们欢迎任何人来支持和改变我们的团队和产品</p>

            <p><a href="mailto:feedback@startbootstrap.com">liuyang@thoughtworks.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i
                            class="fa fa-wechat fa-fw"></i> <span class="network-name">微信</span></a>
                </li>
                <li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i
                            class="fa fa-weibo fa-fw"></i> <span class="network-name">微博</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i
                            class="fa fa-qq fa-fw"></i> <span class="network-name">QQ</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Map Section -->

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Alex's team 2015.8.22</p>
    </div>
</footer>
