<!DOCTYPE html>
<html>
    <head>
      <title>RailsGirls</title>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <title>Grayscale - Start Bootstrap Theme</title>

      <!-- Bootstrap Core CSS -->
      <link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="../../assets/stylesheets/grayscale.css" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="../../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>

      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <%= csrf_meta_tags %>
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <%= yield %>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../assets/javascripts/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../../assets/javascripts/jquery.easing.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../assets/javascripts/grayscale.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.about-us').slick({
                    autoplay: true,
                    autoplaySpeed: 1500
            })
            })
        </script>


    </body>
</html>
